<div class="intro">
  <h1>YOU NEED WATER</h1>
  <p>
    If you're a busy person it's hard to do whats right by your body. Doctors say you should drink at least 8 (8oz) glasses of water per day.  With all thats out there to drink, water can fall pretty low on your priority list, even though it's one of the most important. This app is designed to help you know how much you should drink and help you keep track of what you have already drunk. <%= link_to "Signup", signup_path %> to get started or <%= link_to "Login", login_path %> to see how much you have left to drink today.
  </p>
  <h2>NOT EVERYONE HAS ACCESS TO WATER</h2> 
  <p>
    According to <a href="http://www.charitywater.org/">Charity Water</a>, "800 million people don’t have access to clean drinking water. That’s 1 in 9 of us." 90% of the deaths that accure because of water born illnesses are of children. Help others get the vital water they need. <a href="http://www.charitywater.org/whywater/">Find out more</a>.
  </p>
  <div class="charity-list">
    <h2>DONATE</h2>
    <ul>
      <li><a href="http://www.charitywater.org/">CharityWater.org</a></li>
      <li><a href="http://www.miya-water.com/">Miya</a></li>
      <li><a href="http://www.threeavocados.org/">Three Avacadoes</a></li>
    </ul>
</div>
</div>