<div class="dashboard clearfix">
  
  <div class="exercise goal">
    <div class="title-background clearfix">
      <div class="exercise-icon">
        <img src="assets/bicycle_32x32.png">
      </div>
      <div class="exercise-title titles">
        <h1>EXERCISE</h1>
      </div>
    </div>
    <div class="total-exercise">
      <% if @total %>
      <p>Total minutes of exercise: <span><%= @total.total %></span></p>
      <% end %>
    </div>
     <%= link_to "Add a more exercise time.", :activity, class: 'add_activity' %>
  </div>
  
  <div class="water goal">
    <div class="title-background clearfix">
      <div class="drink-icon">
        <img src="assets/faucet_32x32.png">
      </div>
      <div class="drink-title titles">
        <h1>YOUR GOAL</h1>
      </div>
    </div>
    <div class="drink-goal">
      <% if @totalDrinks %>
        <p>OZ you need to drink today: <span><%= @totalDrinks.water_goal %></span></p>
      <% end %>
    </div>
  </div>
  
  <div class="glasses">
    <div class="title-background">
      <div class="glass-title titles">
        <h1>DRINKS TO DRINK</h1>
      </div>
    </div>
    <div class="clearfix">
      <div class="drinks-to-drink">
        <% i = 1%>
        <% while i < 9 %>
          <div class="glass">
            <div class="glass<%= i %>">
              <img src="assets/full_glass.svg">
            </div>
          </div>
          <% i = i + 1 %>
        <% end %>
      </div>
    </div>
  </div>
</div>
