<div class="home clearfix">
  <div class="faucet">
    <img src="assets/waterdrop.svg">
  </div>

  <div class="index">
    <div class="tag">
      <h1>Drink More. Live Happier.</h1>
    </div>
    <div class="meet-nixie">
      <p>
        <span>It’s no surprise</span> to hear we should all be drinking more water. But what’s ideal for you - and how do you keep track of it throughout the day?
      </p>
      <h2>Meet Nixie</h2>
      <p>
        <span>Nixie is your personal water tracking assistent.</span> She’ll help you caluculate your ideal water consumption goal and track your water drinking progress throughout the day.
      </p>
      <h2><%= link_to "Get started now!", signup_path %></h2>
    </div>
  </div>
</div>