@import 'normalize';
@import 'settings';
@import 'extentions';
@import 'mixins';
@import 'fonts';

html {
  background-color: #eee9e1;
  background-image: url('paperbackground.jpg');
}

#container {
  @extend .border;
  @extend .boxShadows;
  @include border-radius(10px);
  margin: 20px;
  padding-bottom: 20px;
  min-width: 700px;
}

.header {
  @extend .clearfix;
  border-bottom: solid;
  border-color: $border-green;
  padding-bottom: 10px;
  margin: 20px 20px 0 20px;
  .water-drop {
    float: left;
  }
  .title {
    float: left;
    width: 350px;
    margin: 0 0 0 20px;
  }
  .user_nav {
    float: right;
    margin-right: 35px;
  }
}

.main {
  margin: 20px;
}

.exercise-title {
  float: left;
  h1 {
    margin: 0 0 0 10px;
  }
}

.exercise-icon {
  float: left;
}

.drink-title {
  float: left;
  h1 {
    margin: 0 10px 0 10px;
  }
}

.drink-icon {
  float: left;
}

.water {
  float: left;
  margin: 20px;
}

.exercise {
  float: left;
  margin: 20px;
}

.title-background {
  @include border-radius(10px);
  background-color: $background-green;
  padding: 5px 2px 2px 10px;
}

.glass-title {
  h1 {
    margin: 0 0 0 10px;
  }
}
.glasses {
  float: left;
  margin: 20px 0 0 10px;
  min-width: 350px;
  max-width: 600px;
  .title-background {
    height: 37px;
  }
  h1 {
    text-align: center;
    margin-left: -15px;
  }
}

.glass {
  float: left;
  margin: 30px 5px 30px 5px;
  width: 64px;
  height: 64px;
}

.legend {
  padding-top: 75px;
}

.legend-empty-glass {
  margin: 10px;
  float: left;
  .icon {
    float: left;
    height: 32px;
    width: 32px;
  }
  .text {
    float: left;
  }
}

.legend-full-glass {
  margin: 10px;
  float: left;
  .icon {
    float: left;
    height: 32px;
    width: 32px;
  }
  .text {
    float: left;
  }
}

.front-page {
  margin: 0 auto;
  max-width: 65%;
  text-align: center;
  min-height: 400px;
  max-height: 800px;
  h1 {
    font-size: 500%;
    color: $link-color;
  }
  h1:hover {
    font-size: 525%;
  }
  h2 {
    font-size: 250%;
    color: $border-green;
  }
  h2:hover {
    font-size: 275%;
  }
  h3 {
    font-size: 350%;
  }
  h3:hover {
    font-size: 375%;
  }
}

.intro {
  margin: 0 auto;
  max-width: 65%;
  h1 {
    @include border-radius(10px);
    text-align: center;
    background-color: $link-color;
    margin-top: 50px;
  }
  p {
    font-size: 125%;
    border-bottom: solid;
    border-color: $background-green;
    padding: 20px 0 50px 0;
  }
  h2 {
    @include border-radius(10px);
    text-align: center;
    background-color: $link-color;
    margin-top: 50px;
  }
  .charity-list {
    margin: 0 auto;
    max-width: 50%;
  }
  li{
    font-size: 120%;
  }
}

.login {
  max-width: 25%;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  h1 {
    @include border-radius(10px);
    background-color: $link-color;
    text-align: center;
    padding: 5px;
  }
  .field {
    margin: 20px;
    text-align: right;
  }
  .actions {
    float: right;
    margin-right: 20px;
  }
}

.user_profile {
  margin: 0 auto;
  max-width: 30%;
  padding: 20px 0 20px 0;
  h1 {
    @include border-radius(10px);
    background-color: $link-color;
    text-align: center;
    padding: 5px;
  }
  .user_weight{
    margin-bottom: 50px;
    h5 {
      display: inline;
    }
    p {
      display: inline;
    } 
    h5 {
      color: $link-color;
    }
  }
  span {
    color: $red;
  }
}

.signup {
  margin: 0 auto;
  max-width: 40%;
  padding: 20px 0 20px 0;
  h1 {
    @include border-radius(10px);
    background-color: $link-color;
    text-align: center;
    padding: 5px;
  }
  .field {
    margin: 20px;
    text-align: right;
  }
  .actions {
    float: right;
    margin-right: 20px;
  }
}

.faucet {
  width: 200px;
  height: 400px;
  margin-left: -23px;
  float: left;
}

.index{
  max-width: 400px;
  float: left;
      margin: 50px 0 50px 30px;
  .tag {
    margin-bottom: 50px;
    color: $link-color;
  }
  h2 {
    color: $link-color;
    margin: 50px 0 50px 0;
  }
  p{
   span{
     font-weight: bold;
   } 
  }
}
.footer {
  h5 {
    text-align: right;
    margin: 0 20px 0px 0;
    font-weight: normal;
  }
}