@import 'normalize';
@import 'settings';
@import 'extentions';
@import 'mixins';
@import 'fonts';

html {
  background-color: #eee9e1;
  background-image: url('paperbackground.jpg');
}

#container {
  @extend .border;
  @extend .boxShadows;
  @include border-radius(10px);
  margin: 20px;
  padding-bottom: 20px;
  min-width: 420px;
}

.header {
  @extend .clearfix;
  border-bottom: solid;
  border-color: $border-green;
  padding-bottom: 10px;
  margin: 20px 20px 0 20px;
  .water-drop {
    float: left;
  }
  .title {
    float: left;
    width: 350px;
    margin: 0 0 0 20px;
  }
  .user_nav {
    float: right;
    margin-right: 35px;
  }
}

.main {
  margin: 20px;
}

.exercise-title {
  float: left;
  h1 {
    margin: 0 0 0 10px;
  }
}

.exercise-icon {
  float: left;
}

.drink-title {
  float: left;
  h1 {
    margin: 0 10px 0 10px;
  }
}

.drink-icon {
  float: left;
}

.water {
  float: left;
  margin: 20px;
}

.exercise {
  float: left;
  margin: 20px;
}

.title-background {
  @include border-radius(10px);
  background-color: $background-green;
  padding: 5px 2px 2px 10px;
}

.glass-title {
  h1 {
    margin: 0 0 0 10px;
  }
}
.glasses {
  float: left;
  margin: 20px 0 0 10px;
  min-width: 350px;
  max-width: 600px;
  .title-background {
    height: 37px;
  }
  h1 {
    text-align: center;
    margin-left: -15px;
  }
}

.glass {
  float: left;
  margin: 30px 5px 30px 5px;
  width: 64px;
  height: 64px;
}

.legend {
  padding-top: 75px;
}

.legend-empty-glass {
  margin: 10px;
  float: left;
  .icon {
    float: left;
    height: 32px;
    width: 32px;
  }
  .text {
    float: left;
  }
}

.legend-full-glass {
  margin: 10px;
  float: left;
  .icon {
    float: left;
    height: 32px;
    width: 32px;
  }
  .text {
    float: left;
  }
}

footer {
  
}